
.yhs_denglu{
	margin: auto;
    width: 350px;
    height: 290px;
    overflow: hidden;
    
    border-radius: 10px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 555;
	box-shadow: 0 1px 20px #333;

}
.yhs_login{
	width: 100%;
	height: 100%;
}
.yh{
	width: 285px;
	margin: 0 auto;
	height: 200px;
	font-size: 14px;
	color:#333333;
	margin-top: 30px;
}

.yh input{
	display: block;
	width: 290px;
	height: 29px;
	border: 1px solid #ccc;
	margin-top: 14px;
	text-indent: 10px;
	outline: none;
}
.zhuti1{
	
	height: 360px;
	margin: 0 auto;

}
.loge{
	
	width: 135px;
	height: 85px;
	margin: 78px auto;
	margin-bottom: 25px;
}

.den{
	margin: auto;
    width: 400px;
    height: 450px;
    overflow: hidden;
    border: 2px solid #E5E5E5;
    border-radius: 10px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
}



.xin{
	width: 300px;
	margin-top: 14px;
}

.deng{
	float: left;
	width: 75px;
	height: 34px;
	text-align: center;
	font-size: 12px;
	background: #5497ff;
	border-radius: 5px;
	margin-top: 20px;
	cursor: pointer !important;
}

.deng a{
	color: #fff;
	text-decoration: none;
	line-height: 34px;
	font-size: 14px;
}

.zi{
	float: right;
	height: 35px;
	line-height: 38px;
	margin-top: 20px;
	margin-right: 15px;
}

.zi a{
	color: #2F99CC;
	text-decoration: none;
	font-size:14px;
}


.yh1{
	width: 335px;
	margin: 0 auto;
	height: 400px;
	font-size: 14px;
	color:#333333;
	margin-top: 30px;
}

.yh1 input{
	display: block;
	width: 340px;
	height: 29px;
	border: 1px solid #ccc;
	margin-top: 14px;
}



#bodyPage {
	width: 100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

img.bg {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	display: none;
}

.cont {
	width: 400px;
	height: 300px;
	background: #ccc;
	z-index: 999;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
}

#mask_shadow {
				display: none;
			
				position: fixed;
				z-index: 1;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: 555;
				background-color: rgba(0, 0, 0, .6);
			}
			
			#popup {
				opacity: 0;
				position: absolute;
				top: -10px;left: 0;right: 0;
				margin: auto;
				width: 400px;
				z-index: 556;
				height: 85px;
				transition: 0.5s ease;
				border-radius: 10px;
				box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
			}
			
			#popup .title {
				position: relative;
				width: 100%;
				height: 35px;
				background-color: #5bc0de;
				cursor: move;
			}
			
			#popup .title p {
				padding-left: 14px;
				line-height: 38px;
				color: #fff;
				font-size: 12px;
			}
			
			#popup .title span {
				position: absolute;
				top:7px;
				right: 10px;
				width: 20px;
				height: 20px;
				color: #000;
				opacity: .2;
				font-size: 21px;
				line-height: 15px;
				cursor: pointer;
				text-align: center;
				border: 1px solid #333;
			}
			
			#popup .title span:hover {
				opacity: .8;
			}
			
			#popup .cont2 {
				width: 100%;
				height: 50px;
				text-align: center;
				line-height: 50px;
				background-color: #EDEDED;
			}
			
			#btn1 {
				margin: 30px;
			}