<div class="cont1">	
	<div class="tjxw tjxw2" style="margin-top:30px;height: 100vh;">
		<div class="xwfl">
			<div class="xwfl_top">这里是标题</div>
			<div class="xwfl_bottom">
				<ul class="xwfl_bottom_di">
					<li>日期：<span>2017年4月24日</span></li>
					<li>发布人：<span>齐龙龙</span></li>
				</ul>
			</div>
		</div>
		<div class="xwfl">
			<div class="xwfl_top">这里是标题</div>
			<div class="xwfl_bottom">
				<ul class="xwfl_bottom_di">
					<li>日期：<span>2017年4月24日</span></li>
					<li>发布人：<span>齐龙龙</span></li>
				</ul>
			</div>
		</div>
		<div class="xwfl">
			<div class="xwfl_top">这里是标题</div>
			<div class="xwfl_bottom">
				<ul class="xwfl_bottom_di">
					<li>日期：<span>2017年4月24日</span></li>
					<li>发布人：<span>齐龙龙</span></li>
				</ul>
			</div>
		</div>
		<div class="xwfl">
			<div class="xwfl_top">这里是标题</div>
			<div class="xwfl_bottom">
				<ul class="xwfl_bottom_di">
					<li>日期：<span>2017年4月24日</span></li>
					<li>发布人：<span>齐龙龙</span></li>
				</ul>
			</div>
		</div>
	</div>
	</div>
</div>
<div ui-view></div>