<div class="cont1">	
	<div class="tjxw" style="margin-top:30px;height: 100vh;">
		<div class="panel-heading"></div>
		<div class="panel-body">
			<form action="">
				<header style="margin-bottom: 10px;"><b> 基本信息 </b></header>
				<div class="form-group q1">
                  <label class="col-sm-2 col-sm-2 control-label">发布者：</label>
                  <div class="col-sm-10">
                    <input type="text" name="username" value="" class="form-control" placeholder="请填写用户名">
                  </div>
                </div>
                <div class="form-group q1">
                  <label class="col-sm-2 col-sm-2 control-label">发布时间：</label>
                  <div class="col-sm-10">
                    <input type="date" name="username" value="" class="form-control" placeholder="请填写用户名">
                  </div>
                </div>
                
                <header style="margin-bottom: 10px;"><b> 新闻信息 </b></header>
				<div class="form-group q1">
                  <label class="col-sm-2 col-sm-2 control-label">标题：</label>
                  <div class="col-sm-10">
                    <input type="text" name="username" value="" class="form-control" placeholder="请输入标题">
                  </div>
                </div>
                <div class="form-group q1">
                  <label class="col-sm-2 col-sm-2 control-label">图片：</label>
                  <div class="col-sm-10">
                    <input type="file" name="username" value="" class="" placeholder="请填写用户名">
                  </div>
                </div>
                <div class="form-group q1">
                  <label class="col-sm-2 col-sm-2 control-label">新闻条：</label>
                  <div class="col-sm-10">
                    <select name="position" class="form-control">
                    	<option>H5</option>
                    	<option>CSS3</option>
                    	<option>JAVASCRIPT</option>
                    	<option>Jquery</option>
                    </select>
                  </div>
                </div>
                <div class="form-group q1" style="height: 90px;">
                  <label class="col-sm-2 col-sm-2 control-label">内容：</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" rows="3" placeholder="请输入内容" ></textarea>
                  </div>
                </div>
                <div class="form-group q1">
                  <label class="col-sm-2 col-sm-2 control-label"></label>
                  <div class="col-sm-10">
                   		<button class="btn btn-info">点击提交</button>
                  </div>
                </div>
			</form>
			
		</div>
	</div>
</div>
<div ui-view></div>