<div ng-controller="yhs_login" class="yhs_login">
	<div class="yhs_denglu">
		<div class="yh">
				用户名：<br />
				<input type="text" ng-model="username" />
				<br /> 密码：
				<br />
				<input type="password" ng-model="password" />

				<div class="xin">
					<div class="deng" ng-click="denglu()"  id="btn1">
						<a href="">登录</a>
					</div>

					<div class="zi">
						<a href="" ui-sref="zhuce">新用户注册</a>
					</div>
				</div>
			</div>
	</div>
		
	<div id="bodyBox">

		<div id="bodyPage">
			<img src="../images/bj.jpg" class="bg"/>
	   	  	<img src="../images/1.jpg" class="bg"/>
	    </div>
	    
	    
	</div>
	
	<div id="popup">
			<div class="title">
				<p data-title="Popup Text">提示信息</p>
				<span>x</span>
			</div>
			<div class="cont2">登录成功</div>
		</div>
		<div id="mask_shadow"></div>


	<div ui-view></div>
</div>
<script>
	$(document).ready(function(e) {
    
   $("#bodyPage").fullImages({
	   ImgWidth: 1920,
	   ImgHeight: 980,
	   autoplay :  3000,
	   fadeTime : 1500
   });
	

});

</script>